.mainheader {

  background-color:black;
  color: gold;
  margin: 0%;
  border: 0%;
}

.cslpfp {

    border-radius: 50%;
    border-style: solid;
    border-color: gold;
 }

 .containerheader { 

    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 900;
    background-color: grey;
}
  
.portfolio-btn {
  
      font-family: 'Times New Roman', Times, serif;
      font-weight: 900;
      background-color: purple;
      padding: 12px;
    
}

  .contact-btn {
  
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    background-color: purple;
    padding: 12px;
}

.github-btn {
  
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    background-color: purple;
    padding: 12px;
}

.about-btn {
  
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    background-color: purple;
    padding: 12px;
}


p {
    flex:1


}

.about {
   border-bottom: dashed;
   line-height: 1.25;
   margin-top: 75px;
   margin: bottom 0px;
   border-bottom: 0%;
   width: 500px;

   
}

.abparagraphs {
    border-style: solid; 
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
    background-color: gray;
    text-align: left;
    text-indent: 2em  ;

}


