body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: blue;
}

header {
    height: 100%;
    width: 100%;
}

.mainheader {

  background-color:black;
  color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
}

.cslpfp {

    border-radius: 50%;
    border-style: solid;
    border-color: gold;
 }

 .containerheader { 

    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 900;
    background-color: grey;
}
  


.header-btn {

     font-family: 'Times New Roman', Times, serif;
      font-weight: 900;
      background-color: purple;
      padding: 12px;
}




main {
    text-align: center;
    width: 100%;
}


.about {
  
    display: inline-block;
  width: 55%;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50% / -50%;
  border-bottom: 2px dashed;
    
}



.abparagraphs {
    border-style: solid; 
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
    background-color: gray;
    text-align: left;
    text-indent: 2em;
    padding: 10px;

}

.projectList {
    
    border-style: solid; 
    background-color: gray;
    text-align: left;
    text-indent: 0em; 
    padding-bottom: 15px;
    margin-bottom: 500px;
}

html {
    scroll-behavior: smooth;
}

nav a {

    text-decoration: none;
}

.movieFinderParent {
    border-style: solid; 
    background-color: gray;
    text-align: left;
    display: flex;
    
}

.MovFinderTitle {
    align-self: center;

}

.movFinderIMG {
   flex: left;
   border-right: 4px;
   border-right-style: solid;
   border-right-color: black;
   flex:none;
    
}

.movFinderTxt {
    
    align-items: center;
    
    

}
 

